.journal{
	width: 100px;
	height: 100px;
	background-image: url(img/directory_open_file_mydocs-4.png);
	position: absolute;	
	background-repeat: no-repeat;
	background-size:cover;
}

journal1{
	font-family: Quicksand, sans-serif;
	font-size: 1.25vw;
	top: 500px; 
}